/* Global styles */
* {
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

/* Styles for the body element */
body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100svh;
    width: 95svw;
    margin: auto;
}

/* Styles for the header element */
header {
    width: 45svw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Styles for the main element */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

/* Styles for the code element */
code {
    max-width: 45svw;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Styles for input and select elements */
input,
select {
    padding: 12px 20px;
    margin: 8px 0 28px;
    border: 1px solid #ccc;
}

/* Styles for buttons */
button {
    background-color: hsl(217, 100%, 54%);
    color: white;
    padding: 14px 20px;
    margin: 28px 0 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

/* Styles for button hover effect */
button:hover {
    background-color: #45a049;
}

/* Styles for assessment elements */
.assessment {
    padding: 30px 20px;
    border: 1px solid #ccc;
}

/* Styles for assessment hover effect */
.assessment:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
