/* CSS styles for the container element */
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
    gap: 10px;
}

/* CSS styles for common elements */
.common-style {
    max-height: 600px;
    min-width: 45svw;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
}

/* CSS styles for the scrollable list */
#scrollableList {
    overflow-y: scroll;
    max-height: 500px;
}

/* CSS styles for hover effect */
.hover-effect:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* CSS styles for interactive controls */
.interactive-controls {
    display: flex;
    flex-direction: column;
}
