/* CSS styles for the container element */
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
    gap: 10px;
}

/* CSS styles for the grid element */
.grid {
    display: grid;
    grid-template-columns: repeat(
        3,
        1fr
    ); /* This will be dynamically adjusted in JS */
    gap: 10px;
    margin-top: 20px;
}

/* CSS styles for the grid cell elements */
.grid div {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
