body {
    display: flex;
    flex-direction: row;
    padding: 5svh;
}

main,
aside {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    width: 306px;
    height: 306px;
    border: 3px solid #ccc;
}

.on {
    background: yellow;
    border-radius: 0px;
}

.off {
    background: black;
    border-radius: 0px;
}

.sidebar {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

label {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.info-btn {
    background: orange;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 5px;
    margin: 0;
}

.info-btn-highlighted {
    background-color: #45a049; /* Replace with your hover color */
}

.info-details {
    display: none;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 0 15px;
}

.info-btn:focus + .info-details {
    display: block;
}

code {
    background: #7f7f7f;
    border: 1px solid #ddd;
    padding: 0 5px;
    color: #ffcc99;
    font-family: 'Courier New', monospace;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    aside {
        padding-top: 5svh;
    }

    .container {
        flex-direction: column;
    }

    .grid {
        margin-bottom: 20px;
    }

    .info-details {
        display: none;
    }
}
